.dash-layout{
    display:flex;
    min-height:100vh;
    background:#f8f8f8;
}

.dash-main{

flex:1;
padding:40px;
background:#F4F7FB;
}

.dash-header{

display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:35px;
}

.dash-title{

font-size:40px;
font-weight:700;
margin-bottom:6px;
}

.dash-sub{

font-size:16px;
color:#6B7280;
}

.dash-content{
    display:flex;
    flex-direction:column;
    gap:30px;
}


/* Floating AI button */

.chat-feb{
    position:fixed;

    right:30px;
    bottom:30px;

    width:60px;
    height:60px;

    border:none;
    border-radius:50%;

    background:#111827;
    color:white;

    font-size:22px;

    cursor:pointer;

    box-shadow:
    0 10px 25px rgba(0,0,0,0.2);

    z-index:100;
}