.sidebar{
    width:260px;
    min-height:100vh;

    background:#0B1220;
    color:white;

    display:flex;
    flex-direction:column;

    position:sticky;
    top:0;

    border-right:1px solid rgba(255,255,255,.08);
}
.sidebar-logo{
    font-size:28px;
    font-weight:700;
    padding:30px;

    color:white;

    border-bottom:1px solid rgba(255,255,255,.08);
}

.sidebar-logo span{
    color:#22c55e;
}
.sidebar-user{

    display:flex;
    align-items:center;
    gap:14px;

    padding:22px;
}

.sidebar-avatar{

    width:52px;
    height:52px;

    border-radius:50%;

    background:linear-gradient(135deg,#16a34a,#22c55e);

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:20px;
    font-weight:bold;
}
.sidebar-item{

    display:flex;

    align-items:center;

    gap:14px;

    padding:14px 24px;

    color:#cbd5e1;

    text-decoration:none;

    transition:.25s;

    border-left:4px solid transparent;
}

.sidebar-item:hover{

    background:#1E293B;

    color:white;
}

.sidebar-item.active{

    background:#1E293B;

    color:white;

    border-left:4px solid #22c55e;
}
.sidebar-logout{

    margin:20px;

    padding:14px;

    border:none;

    background:#ef4444;

    color:white;

    border-radius:12px;

    cursor:pointer;
}

.sidebar-logout:hover{

    background:#dc2626;
}